<div class="administration">
  {{#if connection.editMode}}
      <button {{action 'doneEditing' connection}} class="doneEdit"><span>Done</span></button>
  {{else}}
      <button {{action 'edit' connection}} class="edit"><span>edit me</span></button>
  {{/if}}
</div>

<div class="info">
{{input type="checkbox" checked=connection.active}}
<img {{bind-attr src=connection.source.icon}} class="connectionSource_Icon" />
<span class="connectionSource">
    {{#link-to 'source' connection.source}}
        {{connection.source.name}}
    {{/link-to}}
</span>
    <span class="connectionStatus">
      {{#if connection.results.isPending}}pending{{/if}}
      {{#if connection.results.isFulfilled}}done{{/if}}
      {{#if connection.results.isRejected}}error:{{connection.results.reason}}{{/if}}
    </span>
<span class="connectionResults">Size: {{connection.length}}</span>
<span class="connectionId">Id: {{connection.id}}</span>

{{render 'results' connection.results class="connectionResults" }}

{{ render 'connection' connection }}

  {{#if connection.editMode}}
    {{render 'source.edit' connection.source}}
  {{/if}}
</div>
