    <section class="event">

        {{pictures-array pictures=group.pictures classNames="pictures"}}

        {{#if group.categories}}
            <ul title="categories" class="categories">
                {{#each group.categories }}
                    <li>{{ this }}</li>
                {{/each}}
            </ul>
        {{/if}}

        <h1 class="title">{{ group.title }}</h1>
        {{#if group.subtitle}}
            <h2 class="subtitle">{{ group.subtitle }}</h2>
        {{/if}}
        {{#if group.description}}
            <div class="description">{{ group.description }}</div>
        {{/if}}
        <time class="date">
            {{#if group.startDate}}
                {{ format-date group.startDate "DD.MM.YYYY" }}
            {{else}}
                no start date
            {{/if}}
        </time>
        <span class="location">{{#if group.location}} {{group.location}} {{else}}no location{{/if}}</span>
        <span class="price">{{#if group.price }}{{ group.price }}{{else}}no price{{/if}}</span>

        <ul class="links">
            {{#each group.links}}
                <li title="Link">
                    <a {{bindAttr href=url}} target="_blank">
                        <img class="event_info_source_icon" {{bindAttr title=name src=result.connection.source.icon}} />
                    </a>{{result.connection.source.id}}
                </li>
            {{/each}}
        </ul>

        <ul class="sources">
            {{#each group.results }}
                <li title="Source">
                    <a {{bindAttr href=resultUrl}} target="_blank">
                        <img class="event_info_source_icon" {{bindAttr title=name src=connection.source.icon}} />
                    </a><span style="display:none;"> S:{{connection.source.id}} r:{{id}}</span>
                </li>
            {{/each}}
        </ul>

        <span class="priority">prio{{ group.priority }}</span>
        <span>{{#linkTo 'group' group}}{{group.id}}{{/linkTo}}</span>
    </section>