<ul class="list-group" id="connectionsListing">
 {{#each model}}
   <li class="list-group-item">{{checked}}
     {{input type="checkbox" checked=active}}
     <img {{bind-attr src=source.icon}} class="connectionSource_Icon" />
     <span class="connectionSource">
         {{#link-to 'source' this.source}}
             {{source.name}}
         {{/link-to}}
     </span>
     <span class="connectionStatus">{{this.status}}</span>
     <span class="connectionResults">Size: {{this.length}}</span>

     {{ render 'connection' this }}

     {{#if this.editMode}}
         <button {{action 'doneEditing' this}}><span>Done</span></button>
         {{render 'source.edit' source}}
     {{else}}
         <button class="edit" {{action 'edit' this}}><span>edit</span></button>
     {{/if}}
   </li>
  {{/each}}
</ul>

{{outlet}}
