<ul class="list-group" id="connectionsListing">
 {{#each model as |con|}}
   <li class="list-group-item">{{con.checked}}
     {{input type="checkbox" checked=con.active}}
     <img {{bind-attr src=con.source.icon}} class="connectionSource_Icon" />
     <span class="connectionSource">
         {{#link-to 'source' con.source}}
             {{con.source.name}}
         {{/link-to}}
     </span>
     <span class="connectionResults">Size: {{con.length}}</span>

     {{ render 'connection' con }}

     {{#if con.editMode}}
         <button {{action 'doneEditing' con}}><span>Done</span></button>
         {{render 'source.edit' con.source}}
     {{else}}
         <button class="edit" {{action 'edit' con}}><span>edit</span></button>
     {{/if}}
   </li>
  {{/each}}
</ul>

{{outlet}}
