<h1>EventDates</h1>
selected: {{this.selected}}

<ul class="dates">
 {{#each eventDate in this}}
     <li {{bindAttr class=":day eventDate.isSaturday:saturday eventDate.isSunday:sunday" }}>
        {{#linkTo 'eventdate' eventDate}}
            <span class="name">
                {{ format-date eventDate.date 'dd' }}
            </span>
            <span class="number">
                 {{ format-date eventDate.date 'DD' }}
            </span>
        {{/linkTo}}
     </li>
  {{/each}}
</ul>

{{outlet}}
