<h1>ResultGroups</h1>

    <ul class="result_groups">
        {{#each }}
            {{#if enabled}}
                <li>

                    <section class="event">

                        <ul class="administration">
                            <li class="item_to_top" {{action 'increaseUserPriority' this}}><span>top</span></li>

                            <li class="item_to_bottom" {{action 'decreaseUserPriority' this}}><span>bottom</span></li>

                            {{#if recycled }}
                                <li {{action 'markRestored' this}} class="derecycle_item" ><span>w</span></li>
                            {{else}}
                                <li {{action 'markRecycled' this}} class="recycle_item" ><span>x</span></li>
                            {{/if}}
                        </ul>

                        {{pictures-array pictures=pictures classNames="pictures"}}

                        {{#if categories}}
                            <ul title="categories" class="categories">
                                {{#each categories }}
                                    <li>{{ this }}</li>
                                {{/each}}
                            </ul>
                        {{/if}}

                        <h1 class="title">{{ title }}</h1>
                        {{#if subtitle}}
                            <h2 class="subtitle">{{ subtitle }}</h2>
                        {{/if}}
                        {{#if description}}
                            <div class="description">{{ description }}</div>
                        {{/if}}
                        <time class="date">
                            {{#if startDate}}
                                {{ format-date startDate "DD.MM.YYYY" }}
                            {{else}}
                                no start date
                            {{/if}}
                        </time>
                        <span class="location">{{#if location}} {{location}} {{else}}no location{{/if}}</span>
                        <span class="price">{{#if price }}{{ price }}{{else}}no price{{/if}}</span>

                        <ul class="links">
                            {{#each links}}
                                <li title="Link">
                                    <a {{bindAttr href=url}} target="_blank">
                                        <img class="event_info_source_icon" {{bindAttr title=name src=result.connection.source.icon}} />
                                    </a>{{result.connection.source.id}}
                                </li>
                            {{/each}}
                        </ul>

                        <ul class="sources">
                            {{#each results }}
                                <li title="Source">
                                    <a {{bindAttr href=resultUrl}} target="_blank">
                                        <img class="event_info_source_icon" {{bindAttr title=name src=connection.source.icon}} />
                                    </a><span class="debug"> S:{{connection.source.id}} Prio:{{connection.priority}} {{connection.ignorePriority}} r:{{id}}</span>
                                </li>
                            {{/each}}
                        </ul>

                        <div class="debug">
                            <span class="priorityRuleset">RS-prio{{ priorityByRuleSet }}</span>
                            <span class="priority">sum-prio{{ priority }}</span>
                            <span>{{#linkTo 'group' this}}{{id}}{{/linkTo}}</span>
                        </div>
                    </section>

                </li>
            {{/if}}
        {{/each}}
    </ul>

{{outlet}}
