<div class="groups">

  {{ log "resultgroup count" model model.length}}

  <nav class="groups_view">
    <ul>
      <li {{action 'unselectDetail'}} class={{if isDetail "" "active"}}>listing</li>
      <li {{action 'selectDetail'}} class={{if isDetail "active" ""}}>detail</li>
    </ul>
  </nav>

  {{component selectedComponent groups=enabled}}

  {{!-- outlet --}}
</div>