<h1>ResultGroups {{model}}</h1>

    <ul class="result_groups">

      {{#each model as |group|}}

            {{#if group.enabled}}
                <li>
                    <section class="event">

                        <ul class="administration">
                            <li class="item_to_top" {{action 'increaseUserPriority' group}}><span>top</span></li>

                            <li class="item_to_bottom" {{action 'decreaseUserPriority' group}}><span>bottom</span></li>

                            {{#if group.recycled }}
                                <li {{action 'markRestored' group}} class="derecycle_item" ><span>w</span></li>
                            {{else}}
                                <li {{action 'markRecycled' group}} class="recycle_item" ><span>x</span></li>
                            {{/if}}
                        </ul>

                        {{pictures-array pictures=group.pictures classNames="pictures"}}

                        {{#if group.categories}}
                            <ul title="categories" class="categories">
                                {{#each in group.categories as |category|}}
                                    <li>{{ category }}</li>
                                {{/each}}
                            </ul>
                        {{/if}}

                        <h1 class="title">{{ group.title }}</h1>
                        {{#if group.subtitle}}
                            <h2 class="subtitle">{{ group.subtitle }}</h2>
                        {{/if}}
                        {{#if group.description}}
                            <div class="description">{{ group.description }}</div>
                        {{/if}}
                        <time class="date">
                            {{#if group.startDate}}
                                {{ format-date group.startDate "DD.MM.YYYY" }}
                            {{else}}
                                no start date
                            {{/if}}
                        </time>
                        <span class="location">{{#if group.location}} {{group.location}} {{else}}no location{{/if}}</span>
                        <span class="price">{{#if group.price }}{{ group.price }}{{else}}-{{/if}}</span>

                        <ul class="links">
                            {{#each group.links as |link| }}
                                <li title="Link">
                                    <a href={{link.url}} target="_blank">
                                        <img class="event_info_source_icon" title={{link.name}} src={{link.result.connection.source.icon}} />
                                    </a>{{link.result.connection.source.id}}
                                </li>
                            {{/each}}
                        </ul>

                        <ul class="sources">
                            {{#each group.enabledResults as |result|}}
                                <li title="Source">
                                    <a href={{result.resultUrl}} target="_blank">
                                        <img class="event_info_source_icon" {{bind-attr title=result.name src=result.connection.source.icon}} />
                                    </a><span class="debug"> S:{{result.connection.source.id}} Prio:{{result.connection.priority}} {{result.connection.ignorePriority}} r:{{result.id}}</span>
                                </li>
                            {{/each}}
                        </ul>

                        <div class="debug">
                            <span class="priorityRuleset">RS-prio{{ group.priorityByRuleSet }}</span>
                            <span class="priority">sum-prio{{ group.priority }}</span>
                            <span>{{#link-to 'group' group}}{{group.id}}{{/link-to}}</span>
                        </div>
                    </section>

                </li>
            {{/if}}
        {{/each}}

    </ul>

{{outlet}}
