<div>
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <ul class="list-group" id="connectionsListing">
                {{#each model.connections as |connection| }}
                    {{connection-details connection=connection tagName="li" classNames="list-group-item" }}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <h1>groupSet</h1>

        <dl>
            <dt>event Date:</dt> <dd>{{ format-date model.date 'dddd, DD. MMMM YYYY' }}</dd>
        </dl>

        {{render 'groups' groups}}

        {{outlet}}

        {{recycled-groups groups=groups}}

    </div>
</div>


