<h1>Result</h1>

<table>
  {{#each model.attributes as |item|}}
  <tr>
    <td>
      <strong>{{item.key}}:</strong>
    </td>
    <td>
      {{item.value}}
    </td>
  </tr>
  {{/each}}
    <tr>
        <td>
            <strong>Priority:</strong>
        </td>
        <td>
            {{model.priority}}
        </td>
    </tr>
    <tr>
        <td>
            <strong>pictures:</strong>
        </td>
        <td>
            {{#each model.pictures as |picture|}}
                {{picture}}
            {{/each}}
        </td>
    </tr>
</table>

{{outlet}}
