<ul>
 {{#each result in model}}
<!-- keep the bind-attribute to allow synchronizing with result list ... why ever that is needed -->
 <li {{bind-attr title=result.connectionPriority alt=result.connectionIgnorePriority description=result.enabled}}>{{#link-to 'result' result}}
     {{result.id}} {{result.title}}
   {{pictures-array pictures=result.pictures classNames="pictures"}}
 {{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
