<h1>Result</h1>

<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
    <tr>
        <td>
            <strong>Priority:</strong>
        </td>
        <td>
            {{model.priority}}
        </td>
    </tr>
    <tr>
        <td>
            <strong>pictures:</strong>
        </td>
        <td>
            {{#each picture in model.pictures}}
                {{picture}}
            {{/each}}
        </td>
    </tr>
</table>

{{outlet}}
